<!DOCTYPE html>
<html>
<head>
    <title>Моя первая страница</title>
</head>
<body>

<form action="/load_to_database" method="POST">
    <button type="submit">Загрузить данные и перейти к выбору компонентов</button>
    <input type="text"
           name="file"
           placeholder="Введите путь к ресурсу"
           required
           autofocus>
</form>

<p>Поиск косметики по комбинации ингредиентов</p>
<p>Большинство интернет-магазинов не предоставляют возможность поиска косметики по нескольким компонентам в составе. Это приложение решает проблему: достаточно задать список необходимых ингредиентов, загрузить каталог товаров, и программа найдёт в каталоге продукты, содержащие указанные компоненты.
</p></body>
</html>